@font-face {
    font-family: Horizon;
    src: url(../Fonts/Horizon.otf);
}

@font-face {
    font-family: Agrandir;
    src: url(../Fonts/Agrandir-Regular.otf);
}

.horizonfont {
    font-family: 'Horizon';
    color: white;
}

.agrandirfont {
    font-family: 'Agrandir';
    color: white;
}

body {
    background-image: linear-gradient(to bottom, #71816d, #454b37, #3f3f3f);
}

.navstyling {
    background: transparent;
    backdrop-filter: blur(10px);

    box-shadow: 0 2px 4px black;
}

.flexfix {
    display: flex;
    justify-content: end;
}

.flexfixend {
    display: flex;
    justify-content: end;
}

.hero-image {
    background-image: url("../Images/TankGame.png");

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0 2px 6px black;
}

.hero-text > h1{
    font-size: 60px;
}

.hero-text > h2{
    font-size: 40px;
}

.hero-text {
    text-shadow: 1px 0px 5px black;
}

.profilestyling {
    box-shadow: 4px 4px 8px black;
}

.aboutmebackground {
    background-color: #a4ab8d;
    box-shadow: 0 2px 6px black;
}

.videobackground {
    background-color: black;
    box-shadow: 0 2px 6px black;
}

.skillslist > div {
    background-color: #71816d;
    margin-bottom: 8px;
    padding: 1rem;
    box-shadow: 0 2px 6px black;
}

.skillslist > div > span {
    float: right;
}

.imagesizefix {
    max-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 6px black;
}

.cardstyling {
    background-color: #a4ab8d;
    border: #2a2a2a solid 2px;
}

.badgestyling {
    background-color: #71816d;
    border: #3f3f3f solid 1px;
    box-shadow: 0 2px 6px black;
}

form {
    background-color: #71816d;
}

input, textarea {
    background-color: #a4ab8d;
    border: none;
    padding: 0.5rem;
    box-shadow: 0 2px 6px black;
    width: 100%;
}

input:focus, textarea:focus {
    outline: none;
    border: #454b37 solid 2px;
}

.footerstyling {
    background-color: #454b37;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -2px 4px black;
}

.footertextfix {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #71816d;;
}

@media only screen and (max-width: 992px) {
    .flexfix {
        justify-content: start;
    }

    .profilestyling {
        display: none;
    }

    .hero-text > h1{
        font-size: 40px;
    }
    .hero-text > h2{
        font-size: 30px;
    }
}

/* Project Page Styles */
.image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.scaledown {
    max-height: 400px;
    object-fit: cover;
    object-position: bottom;
}

.projectimages {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    display: block;
}

.projectsbackground {
    background-color: black;
}

/* Temporary outline for debugging */
.outlinered {
    border: red solid 2px;
}